@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Ubuntu Mono', 'monospace', 'Inter';
  --primary-color: rgba();
  background-color: #2d2d2d;
  color: #eee;
}

.bits {
  background-color: theme('colors.shellbg');
  color: theme('colors.shellgreen');
  line-height: 1.5;
  letter-spacing: 0.2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
